#container1,
#container2 {
    box-sizing: border-box;
    padding: 5px;
    border: 5px solid;
    height: 95px;
}

#container1 {
    margin: 5px;
    border-color: #5b4000;
}

#container2 {
    border-color: #0e5252;
}